@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');


@import "tailwindcss";

:root {
  --primary-color: #F8FAFC;
  --secondary-color: #94A3B8;
  --bg-color: #0F172A;
  --primary-accent: #6366F1;
  --hover-accent: #4F46E5;
  --cta-button: #14B8A6;
}

body {
  font-family: 'Inter', sans-serif;
}